<div class="container">

<div class="row">
<% @articles.each do |article|%>
<%= link_to article do%>
<div class="col-md-4 margin-top-5per artcle-block">
<%=image_tag 'tree.jpg', class:'img-responsive padding-top-15per'%>
<div class="padding-bottom-15">
<p class="title">
<%=article.title%>
</p>
<p>
<%=article.created_at.strftime("%Y年%m月%d日")%>
</p>
</div>
</div>
<%end%>
<%end%>
</div>
<div class="row">
<%=link_to '新規作成',new_article_path,class:"margin-top-5per btn btn-primary",style:'margin-bottom:10px;'%>
</div>
</div>

